body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f5f5dc; 
    color: #5a5a5a; 
    font-family: 'Courier New', Courier, monospace; 
    line-height: 1.6;
  }
  
  header {
    background: #8b4513; 
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .main {
    padding: 2rem;
  }
  
  footer {
    background: #8b4513; 
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  
  button {
    background-color: #d2b48c; 
    color: #5a5a5a;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #8b4513;
    color: white;
  }
  

  img {
    border: 5px solid #8b4513;
    border-radius: 5px;
  }
  

  