.dashboard-background {
  background-image: url('/public/assets/images/pexels-bri-schneiter-6506159.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
  padding: 40px 0;
}
.dashboard-background .ant-card {
  background-color: rgba(255, 255, 255, 0.795);
  max-width: 95%;
  margin: 0 auto;
}
.list-item-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-bottom: 10px;
}
.list-item-button:hover {
  background-color: #000000;
  border-color: #1874FF;
  color: #1874FF;
  transform: translateY(-2px);
}
.list-item-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}